---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Qui suis-je ?">
  <!-- En-tête -->
  <section class="bg-blue-100 py-6 px-6 rounded-b-xl shadow mb-10">
    <h2 class="text-2xl font-bold text-blue-900">À propos de l’auteur</h2>
 </section>

  <!-- Contenu principal -->
  <article class="prose prose-blue max-w-none">
    <p>
      J’ai été commissionné par le comité du PACE pour réunir dans un rapport les données et les réflexions qui permettrons aux élus, acteurs public et responsable de l’enseignement de prendre en main le sujet de la mobilité étudiante internationale sortante. Mon statut de chercheur au sein de la section recherche sociale du PACE ainsi que mon expérience personnel liée à cette mobilité me permette aujourd’hui de partager ce rapport. Bien que la démarche prise pour ce rapport a pour objectif d’être très rationnel et applicable à tout individus, je garde cette section pour faire valoir mon expérience de la chose ainsi que celle de nombreux collègues que j’ai pu côtoyé qui ont vécu l’expérience des études ou du stage à l’étranger.  
    </p>

    <p>
      Dans un premier temps je me décidé à participer à ce projet de recherche car cela m’a permit d’y voir plus clair sur mon expérience de l’expatriation. En effet, j’ai réalisé un ans de mes études à l’étranger ainsi qu’un stage à Montréal. Cette expérience me fut permise car mon université payais les droits d’inscription de mon université d’accueil. C’est en me rendant compte que l’argent de l’état via l’université a permit à beaucoup d’étudiant d’étudier à l’étranger que j’ai compris qu’il existait une dimension très économique à la mobilité. 
      </p>

      <p>
        Ma réflexion était donc la suivante : l’état m’a donné sans assurance que je rentre en France pour rentabiliser sa dépense dans mon enseignement. Il y a un questionnement éthique sur le fait de profiter d’une opportunité tel que celle là puis d’aller vivre et travailler dans un autre pays au lieu de rentrer. J’ai considéré l’option de rester notamment à cause des salaires plus élevé au Canada. En temps que personne engagé dans la problématique de défense des intérêt économique de mon pays, je pense important de parler du risque de dépenser l’argent de l’état dans des directions qui ne rendent pas service au pays.
      </p>

      <p>
        Cette enquête m’auras permit de voir que la problématique n’est pas tant monétaire mais plus de l’ordre de la perte des talents, une dimension qui n’est pas encore très étudié. J’ai vécu l’expérience de la mobilité étudiante comme un grandissement personnel important. Et si nous réussissons à mettre en place une politique logique et efficace de retour des personnes comme le suggère ma conclusion, la mobilité serait un net positif significatif de par son effet « grandissant » chez l’étudiant.     </p>

    <p class="mt-10 text-right font-semibold text-blue-800">
      — Julien Terrier
    </p>
  </article>
</Layout>
