---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Mobilité étudiante : un poids pour le pays ?">
  <section class="text-center bg-gradient-to-b from-blue-100 to-white p-10 rounded-xl shadow mb-10">
    <h2 class="text-4xl font-bold text-blue-800 mb-6">Mobilité étudiante : un poids pour le pays ?</h2>
        <p class="text-gray-700 max-w-3xl mx-auto col-size">
      Les mobilités étudiantes internationales croient chaque années à tel point que certains pays comme l’Australie en on fait une forme de « tourisme de l’éducation ». La France aide considérablement les étudiants à étudier à l’étranger et la volonté générale en France est vers l’augmentation de la mobilité. Mais vu le coût que représente un tel voyage pour les étudiants français, cela doit représenter un coût économique important pour pour la France ? Afin d’aider  les décideurs politiques à établir la trajectoire des politiques française en matière de mobilités sortantes nous avons réalisé une étude. Ce site web répertoire les éléments de cette enquête. Loin d’être un simple déplacement académique, la mobilité internationale influence profondément les trajectoires professionnelles, le développement des compétences et la compétitivité économique nationale. Certaines nations en ont fait un véritable levier stratégique, encourageant activement l’émigration étudiante pour maximiser les retours économiques et intellectuels. D'autres, comme la France, oscillent entre soutien financier à la mobilité et crainte d'une fuite des cerveaux non compensée. Nous étudierons cette problématiques à travers des points majeurs : l'impact économique direct de la mobilité étudiante, ses conséquences immatérielles sur le capital humain et le soft power, les stratégies de rétention des talents, l'influence des entreprises et enfin, la dimension politique et structurelle de la mobilité académique. </section>
  <section class="grid grid-cols-1 sm:grid-cols-3 gap-6 text-center">
    <div class="p-6 bg-white rounded shadow hover:shadow-xl transition">
      <a href="/impact-economique/1.1" class="text-blue-700 font-semibold">Impact économique</a>
    </div>
    <div class="p-6 bg-white rounded shadow hover:shadow-xl transition">
      <a href="/immatériel/2.1" class="text-blue-700 font-semibold">Conséquences immatérielles</a>
    </div>
    <div class="p-6 bg-white rounded shadow hover:shadow-xl transition">
      <a href="/rétention/3.1" class="text-blue-700 font-semibold">Stratégies d’adaptation</a>
    </div>
  </section>
</Layout>